<div style="background-color: #f0f0f0;">
    <nav class="container pt-2 pb-1 ps-3"
        style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
        aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Trang Chủ</a></li>
            <li class="breadcrumb-item"><a href="product.html">Sản Phẩm</a></li>
            <li class="breadcrumb-item active" aria-current="page">Chi tiết sản phẩm</li>
        </ol>
    </nav>
</div>
<div class="container my-5">
    <section>
        <div class="container px-4 text-center">
            <div class="row gx-5">
                <div class="col">
                    <div style="background-color: #f6f6f6;" class="py-4">
                        <img src="assets/imagle/iphone-15-prodetail.jpeg" alt="">
                    </div>
                </div>
                <div class="col">
                    <div class="p-3">
                        <h2 class="border-bottom fw-normal text-start pb-3">iPhone 15 Pro</h2>
                        <p class="fw-medium text-primary text-start fs-3">29.990.000₫ <span
                                class="fw-normal text-decoration-line-through text-body fs-5 ps-3">34.990.000₫</span>
                        </p>
                        <label for="" style="font-size: 14px;" class="float-start">Dung lượng</label> <br>
                        <div class="container text-center">
                            <div class="row">
                                <div class="col ps-0 pt-2">
                                    <a style="font-size: 12px;"
                                        class="nav-link text-body-secondary border border-secondary py-2 rounded"
                                        href="">128 GB</a>
                                </div>
                                <div class="col pt-2">
                                    <a style="font-size: 12px;"
                                        class="nav-link text-body-secondary border border-secondary py-2 rounded"
                                        href="">256 GB</a>
                                </div>
                                <div class="col pt-2">
                                    <a style="font-size: 12px;"
                                        class="nav-link text-body-secondary border border-secondary py-2 rounded"
                                        href="">512 GB</a>
                                </div>
                                <div class="col pt-2">
                                    <a style="font-size: 12px;"
                                        class="nav-link text-body-secondary border border-secondary py-2 rounded"
                                        href="">1 TB</a>
                                </div>
                                <div class="col"></div>
                                <div class="col"></div>
                            </div>
                        </div>
                        <br>
                        <label for="" style="font-size: 14px;" class="float-start">Màu sắc</label> <br>
                        <div class="container">
                            <div class="row">
                                <div class="col ps-0 pt-2">
                                    <a style="font-size: 12px;background-color: #505050;"
                                        class="nav-link text-body-secondary border border-secondary py-3 rounded-circle"
                                        href=""></a>
                                </div>
                                <div class="col pt-2">
                                    <a style="font-size: 12px;background-color: #f6f6f6;"
                                        class="nav-link text-body-secondary border border-secondary py-3 rounded-circle"
                                        href=""></a>
                                </div>
                                <div class="col pt-2">
                                    <a style="font-size: 12px; background-color: #353e50;"
                                        class="nav-link text-body-secondary border border-secondary py-3 rounded-circle"
                                        href=""></a>
                                </div>
                                <div class="col pt-2">
                                    <a style="font-size: 12px;background-color: #7f8186;"
                                        class="nav-link text-body-secondary border border-secondary py-3 rounded-circle"
                                        href=""></a>
                                </div>
                                <div class="col"></div>
                                <div class="col"></div>
                                <div class="col"></div>
                                <div class="col"></div>
                                <div class="col"></div>
                                <div class="col"></div>
                            </div>
                            <br>
                            <div style="font-size: 14px;" class="float-start"><i class="bi bi-gift-fill"></i> Ưu
                                đãi</div>
                            <br>
                            <div style="font-size: 14px;" class="float-start text-danger">1. Ưu đãi thanh toán
                            </div>
                            <br>
                            <div style="font-size: 14px;" class="float-start pt-0"><i
                                    class="bi bi-check-circle-fill"></i> Giảm tới 500.000đ
                                qua công thanh toán</div>
                            <br>
                            <div style="font-size: 14px;" class="float-start text-danger">2. Ưu đãi trả góp
                            </div>
                            <br>
                            <div style="font-size: 14px;" class="float-start pt-0"><i
                                    class="bi bi-check-circle-fill"></i> Giảm tới 500.000đ
                                khi thanh toán trả góp</div>
                            <br>
                            <div style="font-size: 14px;" class="float-start text-danger">3. Ưu đãi mua kèm 15
                                series
                            </div>
                            <br>
                            <div style="font-size: 14px;" class="float-start pt-0"><i
                                    class="bi bi-check-circle-fill"></i> Mua ốp lưng trong suốt Magsafe chỉ 990.000đ
                            </div>
                            <br>
                            <div style="font-size: 14px;" class="float-start pt-0"><i
                                    class="bi bi-check-circle-fill"></i> Giảm 10% khi mua bảo hàng tiêu chuẩn</div>
                            <br>
                            <div style="font-size: 14px;" class="float-start pt-0"><i
                                    class="bi bi-check-circle-fill"></i> Giảm 20% khi mua bảo hành kim cương</div>
                            <br>
                            <div class="float-start mt-5">
                                <button class="btn btn-primary me-4" type="button" data-bs-toggle="offcanvas"
                                    data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><i
                                        class="bi bi-cart4"></i> Thêm vào giỏ hàng</a>
                                </button>
                                <a class="btn btn-outline-primary px-5" href="#" role="button">Mua Ngay</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="my-5">
        <h2>Sản phẩm cùng loại</h2>
        <div class="container overflow-hidden text-center mt-5">
            <div class="row gx-5">
                <div class="col">
                    <div class="card">
                        <img src="assets/imagle/iphone-15-pro-max.webp" class="thumbnail" alt="...">
                        <div class="card-body">
                            <h5 class="fs-6">
                                iPhone 15 Pro Max 512GB</h5>
                            <p class="fw-medium text-primary">37.950.000₫
                                <span class="fw-normal text-decoration-line-through text-body">43.990.000₫</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="assets/imagle/iphone-15-pro.webp" class="thumbnail" alt="...">
                        <div class="card-body">
                            <h5 class="fs-6">iPhone 15 Pro 512GB
                            </h5>
                            <p class="fw-medium text-primary">29.990.000₫ <span
                                    class="fw-normal text-decoration-line-through text-body">34.990.000₫</span></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="assets/imagle/iphone-15-plus.webp" class="thumbnail" alt="...">
                        <div class="card-body">
                            <h5 class="fs-6">iPhone 15 Plus 256GB</h5>
                            <p class="fw-medium text-primary">22.990.000₫ <span
                                    class="fw-normal text-decoration-line-through text-body">25.990.000₫</span></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="assets/imagle/iphone-15-hong.webp" class="thumbnail" alt="...">
                        <div class="card-body">
                            <h5 class="fs-6">iPhone 15 128GB</h5>
                            <p class="fw-medium text-primary">19.990.000₫ <span
                                    class="fw-normal text-decoration-line-through text-body">22.990.000₫</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="mt-5 text-center">
        <h1 class="fs-3">Đăng ký nhận tin từ H Mobile</h1>
        <p>Thông tin sản phẩm mới nhất và chương trình khuyến mãi</p>
        <div class="input-group w-50 container-fluid justify-content-md-center">
            <input type="text" class="form-control" placeholder="Email của bạn" aria-label="Recipient's username"
                aria-describedby="button-addon2">
            <button class="btn btn-outline-primary" type="button" id="button-addon2">Đăng Ký</button>
        </div>
    </section>
</div>